.example-card {
	min-width: 40%;
	margin-top: 5px;
	padding: 20px;
}

.flex-center {
	display: flex;
	flex-direction: row;
}

.margin-top {
	margin-top: 20px;
}

.info-mar {
	padding: 10px;
	margin: 10px 10px 10px 0px;
}

.flex-center-items {
	display: flex;
	flex-wrap: wrap-reverse;
}
