<div class="">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <mat-card class="example-card">
    <h4>Dashboard</h4>
    <div class="flex-row margin-bottom">
      <div class="info-mar">
        <p class="mat-title titleMar">First Name</p>
        <p class="mat-body no-mar">{{ user.firstname }}</p>
      </div>
      <div class="info-mar">
        <p class="mat-title titleMar">Last Name</p>
        <p class="mat-body no-mar">{{ user.lastname }}</p>
      </div>
      <div class="info-mar">
        <p class="mat-title titleMar">Username</p>
        <p class="mat-body no-mar">{{ user.username }}</p>
      </div>
      <div class="info-mar">
        <p class="mat-title titleMar">Email</p>
        <p class="mat-body no-mar">{{ user.email_id }}</p>
      </div>
      <div class="info-mar">
        <p class="mat-title titleMar">Role</p>
        <p class="mat-body no-mar">{{ user.role }}</p>
      </div>
      <div class="info-mar">
        <p class="mat-title titleMar">Date Of Birth</p>
        <p class="mat-body no-mar">{{ user.dob | uppercase }}</p>
      </div>
      <div class="info-mar">
        <p class="mat-title titleMar">Account Created</p>
        <p class="mat-body no-mar">{{ user.account_created_at | uppercase }}</p>
      </div>
      <div class="info-mar">
        <p class="mat-title titleMar">Password</p>
        <p class="mat-body no-mar">****</p>
      </div>
    </div>

    <div class="button-row">
      <a mat-flat-button color="primary" (click)="logout()"
        ><mat-icon>logout</mat-icon>Logout</a
      >
    </div>
  </mat-card>
</div>
