<div style="display: flex; flex-direction: row; justify-content: space-around; align-items: center">
	<div class="flex-center" style="height: 100vh">
		<h1 class="mat-display-1">Login</h1>

		<mat-card class="example-card mat-elevation-z8">
			<div *ngIf="username" class="message-box">
				<div>
					Your Username is: <span class="font-black">{{ username }}</span>
				</div>
			</div>
			<div *ngIf="sessionExpired" class="message-box error">
				<div>
					{{ sessionExpired }}
				</div>
			</div>
			<div *ngIf="serverError" class="message-box error">
				<div>
					{{ serverErrorMessage }}
				</div>
			</div>
			<td-dynamic-forms #loginForm [elements]="loginElements">
				<ng-template let-element ngFor [ngForOf]="loginElements">
					<ng-template let-control="control" [tdDynamicFormsError]="element.name">
						<span *ngIf="control.touched || !control.pristine">
							<span *ngIf="control.hasError('required')">This field is required</span>
						</span>
					</ng-template>
				</ng-template>
			</td-dynamic-forms>
			<button style="width: 100%; margin-top: 10px" (click)="submitManualValidator()" [disabled]="!loginForm.valid" mat-raised-button color="primary" class="font-bold">Submit</button>
		</mat-card>

		<div class="flex-row margin-top">
			<div class="button-row">
				<p class="font-light">New User ? Register Below</p>
			</div>
			<div class="button-row">
				<a mat-flat-button color="accent" [routerLink]="['/register']"><mat-icon>person_add</mat-icon>Register</a>
			</div>
		</div>
	</div>
	<h2>OR</h2>
	<div>
		<amplify-authenticator *ngIf="authState !== 'signedin'"></amplify-authenticator>

		<div *ngIf="authState === 'signedin' && user" class="App">
			<amplify-sign-out></amplify-sign-out>
			<div>Hello, {{ user.username }}</div>
			<!-- This is where you application template code goes -->
		</div>
	</div>
</div>
