<div *ngIf="false" class="flex-center">
	<div class="example-loading-shade" *ngIf="isLoadingResults">
		<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
	</div>
	<mat-card class="example-card">
		<form [formGroup]="registerForm" (ngSubmit)="onFormSubmit()">
			<h2>Sign Up</h2>
			<mat-form-field class="example-full-width">
				<label>
					<input matInput placeholder="First Name" formControlName="firstname" [errorStateMatcher]="matcher" />
				</label>
				<mat-error>
					<span *ngIf="!registerForm.get('firstname').valid && registerForm.get('firstname').touched">Please enter FirstName</span>
				</mat-error>
			</mat-form-field>
			<mat-form-field class="example-full-width">
				<label>
					<input matInput placeholder="Last Name" formControlName="lastname" [errorStateMatcher]="matcher" />
				</label>
				<mat-error>
					<span *ngIf="!registerForm.get('lastname').valid && registerForm.get('lastname').touched">Please enter Last Name</span>
				</mat-error>
			</mat-form-field>
			<mat-form-field class="example-full-width">
				<label>
					<input matInput placeholder="Email ID" formControlName="email_id" [errorStateMatcher]="matcher" />
				</label>
				<mat-error>
					<span *ngIf="!registerForm.get('email_id').valid && registerForm.get('email_id').touched">Please enter your Email ID</span>
				</mat-error>
			</mat-form-field>
			<mat-form-field class="example-full-width">
				<label>
					<input type="password" matInput placeholder="Password" formControlName="password" [errorStateMatcher]="matcher" />
				</label>
				<mat-error>
					<span *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched">Please enter Password</span>
				</mat-error>
			</mat-form-field>
			<mat-form-field class="example-full-width">
				<label>
					<input type="datetime-local" matInput placeholder="Date Of Birth" formControlName="password" [errorStateMatcher]="matcher" />
				</label>
				<mat-error>
					<span *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched">Please enter your date of birth</span>
				</mat-error>
			</mat-form-field>
			<mat-form-field class="example-full-width">
				<mat-label>Role</mat-label>
				<mat-select [formControl]="roleControl" required>
					<mat-option>--</mat-option>
					<mat-option *ngFor="let r of roles" [value]="r">
						{{ r.viewValue }}
					</mat-option>
				</mat-select>
				<mat-error *ngIf="roleControl.hasError('required')">Please choose an Role</mat-error>
				<!--  <mat-hint>{{ roleControl.value?.value }}</mat-hint> -->
			</mat-form-field>

			<div>
				<button class="button-row" type="submit" [disabled]="!registerForm.valid" mat-flat-button color="primary"><mat-icon>how_to_reg</mat-icon>Register</button>
			</div>
			<div class="button-row">
				<h4>Already registered?</h4>
			</div>
			<div class="button-row">
				<a mat-flat-button color="primary" [routerLink]="['/login']"><mat-icon>login</mat-icon>Login</a>
			</div>
		</form>
	</mat-card>
</div>
<div class="flex-center">
	<h2>Register New User</h2>
	<mat-card class="example-card mat-elevation-z2">
		<!-- First Name -->
		<td-dynamic-forms #manualValidateForm [elements]="manualValidatorElement">
			<ng-template let-control="control" tdDynamicFormsError="input">
				<span *ngIf="control.touched || !control.pristine">
					<span *ngIf="control.hasError('pattern')">Only Alphabets.</span>
					<span *ngIf="control.hasError('length')"> Should have minimum length of 4 characters</span>
				</span>
			</ng-template>
		</td-dynamic-forms>
		<!-- First Name -->
		<!-- Last Name-->
		<td-dynamic-forms #manualValidateFormLN [elements]="manualValidatorElementLN">
			<ng-template let-control="control" tdDynamicFormsError="requiredInput">
				<span *ngIf="control.touched || !control.pristine">
					<span *ngIf="control.hasError('pattern')">Only Alphabets.</span>
				</span>
				<span *ngIf="control.hasError('length')"> Should have minimum length of 4 characters</span>
			</ng-template>
		</td-dynamic-forms>
		<!-- Last Name-->
		<!-- Password-->
		<td-dynamic-forms #passwordValidForm [elements]="passwordValidatorElement">
			<ng-template let-control="control" tdDynamicFormsError="requiredPassword">
				<span *ngIf="control.touched || !control.pristine">
					<span *ngIf="control.hasError('oneNumber')">Must contain at least 1 number.</span>
					<span *ngIf="control.hasError('length')">Password needs from 8 - 20 characters.</span>
					<span *ngIf="control.hasError('oneSpecialChar')">Need at least one special character (!, @, #, $, %).</span>
				</span>
			</ng-template>
		</td-dynamic-forms>
		<!--Password-->
		<button
			style="width: 100%; margin-top: 10px"
			mat-raised-button
			[disabled]="!manualValidateForm.valid || !passwordValidForm.valid"
			(click)="submitManualValidator()"
			color="primary"
			class="text-upper"
		>
			Submit
		</button>
	</mat-card>
	<div class="flex-row margin-top">
		<div class="button-row">
			<h4>Already registered?</h4>
		</div>
		<div class="button-row">
			<a mat-flat-button color="primary" [routerLink]="['/login']"><mat-icon>login</mat-icon>Login</a>
		</div>
	</div>
</div>

<td-dynamic-forms #idForm [elements]="textElements">
	<ng-template let-element ngFor [ngForOf]="textElements">
		<ng-template let-control="control" [tdDynamicFormsError]="element.name">
			<span *ngIf="control.touched || !control.pristine">
				<span *ngIf="control.hasError('minlength')">Min length value: {{ element.minLength }}</span>
				<span *ngIf="control.hasError('maxlength')">Max length value: {{ element.minLength }}</span>
				<span *ngIf="control.hasError('reqLen')"> Length Of String Should be 8-20 Characters.</span>
				<span *ngIf="control.hasError('pattern')"> Only Alphabets Allowed.</span>
				<span *ngIf="control.hasError('oneNumber')">At Least 1 Number.</span>
				<span *ngIf="control.hasError('length')">Length Of String Should be 8-20 Characters.</span>
				<span *ngIf="control.hasError('oneSpecialChar')">1 special character needed.</span>
			</span>
		</ng-template>
	</ng-template>
</td-dynamic-forms>
